#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.alternative {
  display: none;
}

.chords {
  flex-wrap: nowrap;
  width: 25%;
  justify-content: center;
  gap: 1rem;
}

.chordDegree {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.helper {
  text-align: center;
}

.titlebox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.chord-row {
  display: flex;
  flex-direction: row;
}

.options-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .chord-row {
    flex-direction: column;
    align-items: center;
  }

  .options-row {
    flex-direction: column;
  }  

  .chord=-row > * {
    margin-bottom: 10px;
  }
  
  .chord-row > * {
    width: 100%;
    max-width: 300px;
  }
}

/* For very small screens (phones in portrait) */
@media screen and (max-width: 480px) {
  .chord-row {
    flex-direction: column;
    padding: 10px;
  }
  
  .chord-row > * {
    font-size: 0.9em; /* Slightly smaller text on small screens */
    margin-bottom: 8px;
  }
}